<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle();">menu</mat-icon>

      </button>
      <h1>Modelamiento y Simulacion</h1>
      <div class="spacer"></div>
       <a mat-button>Carlos Moya</a>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav opened="true" mode="side">
      <mat-nav-list>
        <a mat-list-item routerLink="tema1">Promedio Móvil</a>
        <a mat-list-item routerLink="tema2">Suavizamiento de Datos</a>
        <a mat-list-item routerLink="tema3">Regresión Lineal</a>
        <a mat-list-item routerLink="tema4">Regresión Cuadratica</a>
        <a mat-list-item routerLink="tema5">Simulación de Montecarlo</a>
        <a mat-list-item routerLink="tema6">Inventario</a>
        <a mat-list-item routerLink="tema7">Linea de espera</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">
        <router-outlet>
        </router-outlet>
      </div>
    </mat-sidenav-content>
</mat-sidenav-container>
